.content-table {
  border-collapse: collapse;
  margin: 30px;
  margin-left: -65px;
  text-align: left;
  font-size: 18px;
  min-width: 800px;
  max-width: 800px;
}
.content-table thead tr {
  text-align: left;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
}
.content-table tr {
  border-bottom: 1px solid black;
}
